<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<select id="count" resultType="int" parameterType="java.lang.Integer">
		select count(*) from board
		<where>
			<if test="value != null">
				board_category = #{value}
			</if>
		</where>
	</select>

	<select id="list" resultType="dto.BoardDTO" parameterType="java.util.HashMap">
		select b.* from
		(select rownum as rm, a.* from(
		select * from board
		<where>
			<if test="board_category != null">
				board_category = #{board_category}
			</if>
		</where>
		order by board_relnum desc, board_reply_step asc)a)b
		where b.rm between
		#{startRow} and #{endRow}
	</select>

	<update id="readCount" parameterType="int">
		update board
		set
		board_hits=board_hits+1
		where board_num=#{board_num}
	</update>

	<select id="content" parameterType="int" resultType="dto.BoardDTO">
		select *
		from board
		where board_num=#{board_num}
	</select>

	<update id="reStepCount" parameterType="dto.BoardDTO">
     <![CDATA[
         update board set board_reply_step=board_reply_step+1 
         where board_relnum=#{board_relnum} and board_reply_step>#{board_reply_step}
     ]]>
	</update>

	<!-- -->
	<insert id="save" parameterType="dto.BoardDTO">
		insert into
		board(board_num,mem_num,board_writer,board_name,board_content,board_hits,board_relnum,board_reply_level,board_reply_step,board_date,board_reply_amount,board_category)
		values(board_seq.nextval,#{mem_num},#{board_writer},#{board_name},#{board_content},0,
		<choose>
			<when test="board_relnum==0">
				board_seq.nextval
			</when>
			<otherwise>
				#{board_relnum}
			</otherwise>
		</choose>
		,0,0,sysdate,0,#{board_category})
	</insert>

	<update id="update" parameterType="dto.BoardDTO">
		update board
		set
		board_name=#{board_name}, board_content=#{board_content}
		where
		board_num=#{board_num}
	</update>

	<delete id="delete" parameterType="int">
		delete from board where
		board_num=#{num}
	</delete>

	<select id="searchList" parameterType="String" resultType="dto.BoardDTO">
		select * from
		board where board_name like '%'||#{keyword}||'%'
	</select>

	<select id="searchCount" parameterType="String" resultType="int">
		select count(*) from
		board where board_name like '%'||#{keyword}||'%'
	</select>

	<select id="myboardcount" parameterType="dto.MemDTO" resultType="int">
		select count(*) from board where mem_num = #{mem_num}
	</select>
	
	<select id="myboard_list" parameterType="java.util.HashMap" resultType="dto.BoardDTO">
		select b.* from (select rownum as rm, a.* from(select * from board where mem_num = 9 order by board_num desc)a)b
		where b.rm between #{startRow} and #{endRow}
	</select>
</mapper>