<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mem">

	<insert id="insert" parameterType="dto.MemDTO">
		insert into mem
		values(mem_seq.nextval,#{mem_id},#{mem_pw},#{mem_sex},#{mem_name},#{mem_email},#{mem_address})
	</insert>

	<select id="isMemberExist" parameterType="String" resultType="java.lang.Integer">
		SELECT NVL2(mem_id, 1, 0) FROM mem where mem_id = #{mem_id}
	</select>

	<select id="login" parameterType="dto.MemDTO" resultType="dto.MemDTO">
		select * from mem where mem_id=#{mem_id} and mem_pw=#{mem_pw}
	</select>
	
	<select id="findId" parameterType="dto.MemDTO" resultType="dto.MemDTO">
		select mem_id from mem where mem_name=#{mem_name} and mem_email=#{mem_email}
	</select>
	
	<select id="findPw" parameterType="dto.MemDTO" resultType="dto.MemDTO">
		select mem_pw from mem where mem_id=#{mem_id} and mem_name=#{mem_name}
	</select>

</mapper>
