<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="movie">
    
    	<select id="list" resultType="dto.MovieDTO" parameterType="int">
    		select * from movie where #{page2} >= movie_num AND movie_num > 0
    	</select>
    	
    	
    	
    	<select id="comment" parameterType="int" resultType="dto.CommentDTO">
    		select * from comment2 where movie_num=#{movie_num} order by comment_num desc
    	</select>
    	
    	<select id="info" parameterType="int" resultType="dto.MovieDTO">
    		select * from movie where movie_num=#{movie_num}
    	</select>
    </mapper>
    
    