<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movie">
	<select id="list" resultType="dto.MovieDTO" parameterType="java.util.Map">
		select * from movie where #{end} >= movie_num AND movie_num > #{start}
	</select>

	<select id="director" resultType="dto.DirectorDTO"
		parameterType="java.util.Map">
		select movie_num, director_name from director,
		movie_director where
		movie_director_num = director_num
	</select>

	<select id="comment" parameterType="int" resultType="dto.CommentDTO">
		select *
		from comment2 where movie_num=#{movie_num} order by comment_num desc
	</select>

	<select id="info" parameterType="int" resultType="dto.MovieDTO">
		select * from
		movie where movie_num=#{movie_num}
	</select>
	
	<select id="like" parameterType="dto.LikeDTO" resultType="String">
		select mem_id from commentlike
		where mem_id = #{mem_id} and comment_num = #{comment_num}
	</select>

</mapper>
    
