<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movie">
	<select id="list" resultType="dto.MovieDTO" parameterType="java.util.Map">
		select * from movie where #{end} >= movie_num AND movie_num > #{start}
	</select>

	<select id="director" resultType="dto.DirectorDTO"
		parameterType="int">
		select b.director_name from movie_director a, director b where a.movie_num = #{movie_num} and a.director_num = b.director_num
		
	</select>
	
	<select id="actor" resultType="dto.DirectorDTO"
		parameterType="int">
		select b.actor_name from movie_actor a, actor b where a.movie_num = #{movie_num} and a.actor_num = b.actor_num		
	</select>
	
	<select id="category" resultType="dto.DirectorDTO"
		parameterType="int">
		select b.category_name from movie_category a, category b where a.movie_num = #{movie_num} and a.category_num = b.category_num				
	</select>

	<select id="comment" parameterType="int" resultType="dto.CommentDTO">
		select *
		from comment2 where movie_num=#{movie_num} order by comment_num desc
	</select>

	<select id="info" parameterType="int" resultType="dto.MovieDTO">
		select * from
		movie where movie_num=#{movie_num}
	</select>

</mapper>
    
